<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<% industry_array.forEach(function(industry){ %>
<P><a href="industry?type=<%= industry.industry_name %>"><%= industry.industry_name %></a></P>
<% }) %>
<% if(typeof store_array != 'undefined'){ %>
<% store_array.forEach(function (store) { %>
<a href="store_detail?id=<%= store._id %>"><%= store.store_name %></a>
<% }) %>
<% } %>
</body>
</html>