<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<% store_array.forEach(function(store){ %>
<p><%= store.store_name %></p>

<% }) %>
</body>
</html>