body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #F2F1EF;
}

/*nav bar*/
.img-softer{
    max-width: 45px;
    margin-top: -14px;
}
.i-softer{
    color: #3498db !important;
}
.i-menu{
    border-right: 1px #ffffff groove;
}
.row-home{
    margin-top: 5em;
}
.img-store{
    max-height: 337px;
    max-width: 337px;
}
.col-search{
    margin-top: 3em;
}
.insert_container{
    padding-top: 2em;
}
.input_insertstore{
    margin-top: 2%;
}
.lblInsertstore{
    float: left;
    margin-top: 2%;
    font-size: 16px;
    font-family: Georgia, "Times New Roman", Times, serif;
}
.size-selcter{
    font-size: 15px;
    font-family: Georgia, "Times New Roman", Times, serif;
}
.img-thumbnil{
    height: 100%;
    width: 100%;
}
.map-insertstore{
    padding-top: 5em;
}