<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Node Js using bootstrap</title>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Bootstrap -->
<link rel="stylesheet" href="./css/bootstrap.css"/>
<link rel="stylesheet" href="./css/bootstrap.min.css"/>
<script  src="./js/bootstrap.min.js"></script>
<link rel="stylesheet" href="./css/bootstrap-theme.min.css"/>
<!--font awesome-->
<link rel="stylesheet" href="./css/font-awesome.css"/>
<link rel="stylesheet" href="./css/font-awesome.min.css"/>
<!--bootflat-->

<link rel="stylesheet" href="./libs/Bootflat/bootflat/css/bootflat.min.css">
<!--style-->
<link rel="stylesheet" href="./stylesheets/style.css"/>
<!--map-->
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
<link rel="stylesheet" href="../stylesheets/map.css"/>